<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Student</title>
</head>
<body>
    <form action="/student/update/<%=data.id%>" method="POST">
        First name:<br>
        <input type="text" name='firstName' value="<%=data.firstName%>"><br>
        Last name:<br>
        <input type="text" name='lastName' value="<%=data.lastName%>"><br>
        Birthday:<br>
        <input type="text" name='birthday' value="<%=data.birthday%>"><br>
        Gender:<br>
        <input type="text" name='gender' value="<%=data.gender%>"><br>
        Email:<br>
        <input type="text" name='email' value="<%=data.email%>"><br>
        Phone:<br>
        <input type="text" name='phone' value="<%=data.phone%>"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>